@media screen and (min-width: 425px) and (max-width: 1024px)  {    
    .align-horiz {
        flex-direction: column;
    }

    .align-horiz-no-space i {
        width: 30px;
        height: 25px;
    }

    #searchtown input {
        padding-left: 40px;
    }

    #itemcontainer {
        width: 100%;
        height: 626px;
    }

    #itemcontainer section article {
        width: 246px;
        height: 199px;
        margin-top: 30px;
    }

    #itemcontainer section article img {
        width: 246px;
        height: 124px;
        object-fit: cover;
    }

    #popular {
        width: 883px;
        height: 278px;
        margin-top: 53px;
    }

    #popular div {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        gap: 0;
    }

    #popular div article {
        width: 252px;
        height: 144px;
    }

    #popular article div {
        justify-content: space-evenly;
    }

    #popular div article img {
        width: 106px;
        height: 144px;
        object-fit: cover;
    }

    #activities {
        flex-wrap: wrap;
    }

    #activities div {
        width: 182px;
        height: 267px;
    }

    #activities div img {
        width: 182px;
        height: 211px;
    }

    #activities div a h3 {
        height: 56px;
        padding: 0;
        padding-left: 10px;
    }

    #activities div a {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #filters {
        width: 100%;
        flex-wrap: nowrap;
    }

    #filters ul li {
        font-size: 17px;
        padding: 0px 10px;
    }

    #showmore {
        padding-bottom: 46px;
    }
}